Redirect 302 /test-antora/reference/inline-text-formatting.html/test-antora/1.0-SNAPSHOT /test-antora/reference/inline-text-formatting.html/test-antora
Redirect 301 /test-antora/reference/inline-text-formatting.html/index.html /test-antora/reference/inline-text-formatting.html/test-antora/inline-text-formatting.html
